@import url(https://fonts.googleapis.com/css?family=Lato);

body {
    background-color: bisque;
    background-attachment: fixed;
    font-family: 'Lato';

}


#header-background{
    background-color: brown;
    margin-left: 0%;
    margin-right: 0%;
}

h1#page-title{
    font-size: 2.5em;
    text-align: center;
    color: white;
    width: max-content;
    max-width: 80%;
    inline-size: max-content;
    overflow-wrap: break-word;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 10%;
    margin-right: 10%;
    margin: auto;
}

h2#desc-header {
    height: 0px;

}

#description{
    width: 800px;
    max-width: 80%;
    margin-left: 10%;
    margin: auto;
    text-indent: 50px;
    font-size: 1.0em;
    text-align: left;
    overflow-wrap: break-word;
    height: 300px;
}


section#selection-box {
    margin-bottom: 20%;
    margin-left: 5%;
    margin-right: 5%;
    max-width: 90%;
    background-color: rgba(209, 188, 162, 0.555);
}

.selections{
    float: left;
    width: 20%;
    text-align: center;
    outline: 0px solid rgb(218, 165, 32);
}
/*
.selections:hover{
    border: 1px solid black;
}
*/

h2 {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.thumbnails{
    width: 95%;
    height: 150px;
    border: transparent;
}
.thumbnails:hover{
    outline: solid #b38a05;
}

.buttons{
    background-color: white;
    color: black;
    border: 2px solid #745900;
    font-family: "Lato";
    font-size: 1.0em;
}

#home-button{
    background-color: white;
    color: black;
    border: 2px solid #745900;
    font-family: "Lato";
    font-size: 1.25em;
    display: flex;
    margin: auto;
    margin-bottom: 10%;
}


